<div class="partida-wrapper">
    <div class="partida-header">
        <h6>21:30 Peru-Brasil</h6>
    </div>
    <div class="partida-body">
        <div class="partida-resultado">
            <span class="resultado">Perqwewqeqeqweqweeqwu 1-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Peru 1-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Brasil 3-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Brasil 3-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Peru 1-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Peru 1-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Brasil 3-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Brasil 3-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Peru 1-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Peru 1-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Brasil 3-1</span>
            <span>123</span>
        </div>
        <div class="partida-resultado">
            <span class="resultado">Brasil 3-1</span>
            <span>123</span>
        </div>
    </div>
</div>