<div class="partida-wrapper">
    <div class="partida-header">
        <h6>{{ partidaCliente.hora }} {{ partidaCliente.equipos }}</h6>
    </div>
    <div class="partida-body">
        <ng-container *ngFor="let partida of partidaCliente.partidas">
            <div class="partida-resultado" (click)="onClickPartida(partida)">
                <span class="resultado">{{ partida.ganador }} {{ partida.resultado }}</span>
                <span>{{ partida.factor }}</span>
            </div>
        </ng-container>
    </div>
</div>