<div class="wrapper">
    <div class="listado-partidas-wrapper">
        <div class="listado-partidas">
            <div class="listado-partidas-header">
                <h4>LISTADO DE PARTIDAS</h4>
            </div>
            <div class="listado-partidas-body">
                <app-partida-cliente></app-partida-cliente>
                
                <app-partida-cliente></app-partida-cliente>
                
                <app-partida-cliente></app-partida-cliente>
            </div>
        </div>
    </div>
    <div class="historial-apuestas-wrapper">
        <app-hoja-apuestas></app-hoja-apuestas>
    </div>
</div>