<div class="wrapper">
    <div class="listado-partidas-wrapper">
        <div class="listado-partidas">
            <div class="listado-partidas-header">
                <h4>LISTADO DE PARTIDAS</h4>
            </div>
            <div class="listado-partidas-body">
                <ng-container *ngFor="let partidaCliente of partidasClientes">
                    <app-partida-cliente [partidaCliente]="partidaCliente" (_onClickPartida)="handleOnClickPartida($event)"></app-partida-cliente>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="historial-apuestas-wrapper">
        <app-hoja-apuestas [apuestas]="apuestas" (_oncClickCerrarApuesta)="handleOnClickCerrarApuesta($event)" (_oncClickEliminarTodasApuestas)="handleOnClickEliminarTodasApuestas()"></app-hoja-apuestas>
    </div>
</div>