:host {
    font-size: 14px;
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 2em;
}

.hojas-apuestas {
    max-height: 48rem;
    overflow: auto;
}

.hoja-apuestas-wrapper-total {
    border: 1px solid black;
    margin-top: 2em;
    padding: 0.8em;

    input {
        min-width: 9rem;
        width: 95%;
    }

    button{
        display: block;
        margin: auto
    }

    .eliminar-apuestas{
        text-align: center;
        margin-top: 1em;

        small{
            cursor: pointer;
        }
    }
}

.col-2 {
    display: inline-block;
    width: 50%;
    margin-bottom: 1em;
}

@media (min-width: 1535px) {
    :host {
        width: 100%;
        margin-top: 0;
    }

    .hojas-apuestas {
        margin-top: 0;
    }
}
