<div class="hojas-apuestas">
    <div class="hoja-apuesta">
        <div class="hoja-apuestas-header">
            <h4>Peru - Brasil</h4>
        </div>
        <div class="hoja-apuestas-body">
            <div class="resultado-partido">
                Resultado del partido - 90 min: 2-1
            </div>
            <div class="col-2 equipo-ganador">
                Peru
            </div>
            <div class="col-2 factor">
                Factor: 2.45
            </div>
            <div class="col-2 monto">
                Monto
            </div>
            <div class="col-2 ganacia-posible">
                Ganancia Posible
            </div>
            <div class="col-2 monto-valor">
                S/.100
            </div>
            <div class="col-2 ganacia-valor">
                S/.100
            </div>
        </div>
    </div>
    <div class="hoja-apuesta">
        <div class="hoja-apuestas-header">
            <h4>Peru - Brasil</h4>
        </div>
        <div class="hoja-apuestas-body">
            <div class="resultado-partido">
                Resultado del partido - 90 min: 2-1
            </div>
            <div class="col-2 equipo-ganador">
                Peru
            </div>
            <div class="col-2 factor">
                Factor: 2.45
            </div>
            <div class="col-2 monto">
                Monto
            </div>
            <div class="col-2 ganacia-posible">
                Ganancia Posible
            </div>
            <div class="col-2 monto-valor">
                S/.100
            </div>
            <div class="col-2 ganacia-valor">
                S/.100
            </div>
        </div>
    </div>
    <div class="hoja-apuesta">
        <div class="hoja-apuestas-header">
            <h4>Peru - Brasil</h4>
        </div>
        <div class="hoja-apuestas-body">
            <div class="resultado-partido">
                Resultado del partido - 90 min: 2-1
            </div>
            <div class="col-2 equipo-ganador">
                Peru
            </div>
            <div class="col-2 factor">
                Factor: 2.45
            </div>
            <div class="col-2 monto">
                Monto
            </div>
            <div class="col-2 ganacia-posible">
                Ganancia Posible
            </div>
            <div class="col-2 monto-valor">
                S/.100
            </div>
            <div class="col-2 ganacia-valor">
                S/.100
            </div>
        </div>
    </div>
</div>


<div class="hoja-apuestas-wrapper-total">
    <div class="col-2">
        Resultado del partido - 90 min: 2-1
    </div>
    <div class="col-2r">
        Peru
    </div>
    <div class="col-2">
        Resultado del partido - 90 min: 2-1
    </div>
    <div class="col-2">
        Peru
    </div>
</div>