<ng-container>
    <div class="hojas-apuestas">
        <ng-container *ngFor="let apuesta of apuestas">
            <app-hoja-apuesta [apuesta]="apuesta" (_oncClickCerrarApuesta)="handleOnClickCerrarApuesta($event)" (_onValueChangesApuesta)="handleOnValueChangesApuesta()"></app-hoja-apuesta>
        </ng-container>
    </div>
</ng-container>

<div class="hoja-apuestas-wrapper-total" [formGroup]="valoresTotalesForm">
    <div class="col-2">
        Monto Total
    </div>
    <div class="col-2">
        Ganancia Posible
    </div>
    <div class="col-2">
        <input type="number" formControlName="montoTotal">
    </div>
    <div class="col-2">
        <input type="number" formControlName="gananciaTotal">
    </div>
    <button class="primary-button" type="button">Aceptar</button>
    <div class="eliminar-apuestas">
        <small (click)="onClickEliminarTodasApuestas()">Eliminar todas las apuestas</small>
    </div>
</div>