*,
*::after,
*::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
    font-family: "Gill Sans MT";
    color: #212121;
    font-size: 12px;
    min-height: 100vh;
    line-height: 1.4;
    //overflow-x: hidden;
}

body{
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

*:focus{
    outline: none;
}

input {
    min-width: 10rem;
    width: 50%;
    padding: 0.2em;
}

.primary-button{
    padding: 0.3em 1.6em;
    background-color: red;
    color: white;
    border: unset;
}